# Biological DataBase Design with SQLite ðŸ§¬ðŸ—‚

### Bio Eng C131 | Lab 4 Adaptation | Fall 2020
### Cameron Hirsh

## Overview

#### Background

The lab I'm working in studies metabolism. Over the years, many students and post-docs have studied enzymes from organisms across the tree of life, from flies, worms, mice, and E. coli. My PI wants me to build a database of these enzymes that future researchers in the lab can use going forward. 

We will focus on three pathways: 

1. glycolysis 
2. the citric acid cycle 
3. pentose phosphate pathway.

We will consider genes in these pathways from:

1. Drosophila
2. E. coli
3. humans

Researchers want to be able to query for:
* a gene, and retreive information on all enzymes associated with the gene (in regards to the 3 metabolic pathways)
* a pathway, and retreive information on all genes associated with the pathway.

#### Approach

To do this, I will construct a database using remote data pulled from [KEGG](https://www.genome.jp/kegg-bin/show_pathway?map00010), [NCBI](https://www.ncbi.nlm.nih.gov/) and then join the information into a structure that supports these types of queries in a simple and readable fashion. I will construct this database using SQLite supported by python.

I will have a:

1. _pathway table:_ This table will detail the three metabolic pathways we are studying including the name of the pathway and what the pathway entails.


| id | Pathway Name | Decription |
| --- | --- | --- |
| primary key | name | description |

2. _enzyme table:_ data from 4 enzymes from each pathway.

| id | Enzyme Name | Function | EC # | pathway |
| --- | --- | --- | --- | --- |
| id | name | function | number | pathway |

3. _gene table:_ genes representing each of the 12 enzymes for each of 3 organisms.

| id | Gene Name | Organism | Enzyme | Enzyme ID | Sequence |
| --- | --- | --- | --- | --- | --- |
| id | name | organism | enzyme | id for enzyme | Nucleic Acids |

I will then Join these tables to allow for querrying the desired information simply and clearly.

## Setup

In [2]:
# Setup

import sqlite3
import pandas as pd
from Bio import SeqIO

conn = sqlite3.connect('metabolism.db')
c = conn.cursor()

## Step 1: Pathway Information

Using KEGG adn NCBI to create custom pathway data file, similar to data file that may be found from a remote source, I will parse the data into the pathway data table.

In [3]:
# Pathway table

# Clear previous Table data
c.execute("DELETE FROM pathway WHERE id>0;")

c.execute('''CREATE TABLE IF NOT EXISTS pathway
                 (id INT PRIMARY KEY ASC, name TEXT, description TEXT )''')

pd.read_sql_query("SELECT * FROM pathway;", conn)

Empty DataFrame
Columns: [id, name, description]
Index: []

In [4]:
# Populate Pathway Table

# Add data using SQL Query
pathway_file = open("pathway_data.txt")

counter = 1
for i, line in enumerate(pathway_file):
    
    line = line.replace('\n', '')
    
    
    if i < 5:
        continue
    elif i % 3 == 2:
        name = line
    elif i % 3 == 0:
        description = line
    else:
        c.execute("INSERT INTO pathway (id, name, description) VALUES (" + str(counter) + ", '" + name + "', '" + description + "' )")
        counter += 1
        

# View the Table
pathway_df = pd.read_sql_query("SELECT * FROM pathway;", conn)
pathway_df = pathway_df.style.set_properties(**{'text-align': 'left'})
pathway_df

looks good, lets grab the enzyme data.

## Step 2: Enzyme Data From Pathways

Using KEGG and NCBI to create custom enzyme data file, similar to data file that may be found from a remote source, I will parse the data into the enzyme data table.

In [5]:
# Enzyme table

# Clear previous Table data
try :
    c.execute("DELETE FROM enzyme WHERE id>0;")
except:
    pass


c.execute('''CREATE TABLE IF NOT EXISTS enzyme
                (id INT PRIMARY KEY ASC, name TEXT, pathway TEXT, function TEXT, ecnum TEXT )''')

pd.read_sql_query("SELECT * FROM enzyme;", conn)

Empty DataFrame
Columns: [id, name, pathway, function, ecnum]
Index: []

In [6]:
# Populate Enzyme Table

# Add data using SQL Query

enzyme_file = open("enzyme_data.txt")

counter = 1
for i, line in enumerate(enzyme_file):
    
    line = line.replace('\n', '')
    
    
    if i < 7:
        continue
    elif i % 5 == 2:
        name = line
    elif i % 5 == 3:
        pathway = line
    elif i % 5 == 4:
        function = line
    elif i % 5 == 0:
        ecnum = line
    else:
        c.execute("INSERT INTO enzyme (id, name, pathway, function, ecnum) VALUES (" 
                  + str(counter) + ", '" + name + "', '" + pathway + "', '" + function + "', '" + ecnum + "' )")
        counter += 1
        


# View the Table
pd.read_sql_query("SELECT * FROM enzyme;", conn)

,id,name,pathway,function,ecnum
0,1,hexokinase,glycolysis,"phosphorylates hexoses (six-carbon sugars), fo...",2.7.1.1
1,2,phosphoglucose isomerase,glycolysis,interconverts glucose-6-phosphate (G6P) and fr...,5.3.1.9
2,3,phosphofructokinase,glycolysis,phosphorylates fructose 6-phosphate.,2.7.1.11
3,4,aldolase,glycolysis,catalyzes a reversible reaction that splits th...,4.1.2.13
4,5,Citrate synthase,citric acid cycle,catalyze the conversion of acetyl-CoA [H3CC(=O...,2.3.3.1
5,6,Aconitase,citric acid cycle,enzyme that catalyses the stereo-specific isom...,4.2.1.3
6,7,Isocitrate dehydrogenase,citric acid cycle,catalyzes the oxidative decarboxylation of iso...,1.1.1.42
7,8,Fumarase,citric acid cycle,catalyzes the reversible hydration/dehydration...,4.2.1.2
8,9,G6PD,pentose phosphate,catalyzes the chemical reaction: D-glucose 6-p...,2.3.3.1
9,10,6PGD,pentose phosphate,forms ribulose 5-phosphate from 6-phosphogluco...,1.1.1.44
10,11,Gluconolactonase,pentose phosphate,This enzyme belongs to the family of hydrolase...,3.1.1.17
11,12,Transaldolase,pentose phosphate,transaldolase:catalyzes the following reaction...,2.2.1.2

## Step 3: Gather & Consolidate Remote Gene Data

Pull remotely 3 Fasta Format Files of nucleic acid sequences representing most relevant search results from [NCBi database](usinghttps://www.ncbi.nlm.nih.gov/) to find genes for the selected enzymes for each of the 3 organisms. Will parse each fasta file into database.

In [17]:
# Gene table

# Clear previous Table data
try:
    c.execute("DELETE FROM gene WHERE id>0;")
except:
    pass

c.execute('''CREATE TABLE IF NOT EXISTS gene
                (id INT PRIMARY KEY ASC, name TEXT, organism TEXT, enzyme TEXT, enzyme_id INT, sequence TEXT )''')

pd.read_sql_query("SELECT * FROM gene;", conn)

Empty DataFrame
Columns: [id, name, organism, enzyme, enzyme_id, sequence]
Index: []

In [18]:
# Enzyme Matching Functionality

enzyme_df = pd.read_sql_query("SELECT * FROM enzyme;", conn)
enzymes = enzyme_df['name']

# takes in messy enzyme name and returns enzyme id for a match
def helper(enzyme_name):
    for i in range(len(enzymes)):
        if enzymes[i].lower() in enzyme_name.lower():
            return i + 1

In [19]:
# Nested Loop to Parse each of 3 files adding FASTA content to Gene Database


# Use Seq.IO to Parse Fasta File and add genes to table


files = ['homo.fa', 'drosophila.fa', 'ecoli.fa']
organisms = ['Homo Sapien', 'Drosophila', 'E. coli']
split_by = ['sapiens ', 'Drosophila', 'coli ']

gene_id = 1

for i in range(0,3):
    
    for gene in SeqIO.parse(files[i], 'fasta'):
        
        name = gene.id
        organism = organisms[i]
        enzyme = gene.description.split(split_by[i])[1]
        enzyme_id = helper(enzyme)
        seq = str(gene.seq)
        
        c.execute("INSERT INTO gene (id, name, organism, enzyme, enzyme_id, sequence) VALUES (" 
                  + str(gene_id) + ", '" + name + "', '" + organism + "', '" + enzyme + "', '" + str(enzyme_id) + "', '" + seq + "' )")
        gene_id += 1
        
        
# Use SQL to manually update the mis-translated enzymes due to inconsistent naming syntax / missing information
c.execute("UPDATE gene SET enzyme_id = 10 WHERE id = 10;")
c.execute("UPDATE gene SET enzyme_id = 12 WHERE id = 12;")
c.execute("UPDATE gene SET enzyme_id = 12 WHERE id = 24;")
c.execute("UPDATE gene SET enzyme_id = 9 WHERE id = 33;")
c.execute("UPDATE gene SET enzyme_id = 10 WHERE id = 34;")
c.execute("UPDATE gene SET enzyme_id = 12 WHERE id = 36;")   
        
        
pd.read_sql_query("SELECT * FROM gene;", conn)

,id,name,organism,enzyme,enzyme_id,sequence
0,1,M75126.1,Homo Sapien,"hexokinase 1 (HK1) mRNA, complete cds",1,CCGCCGGAGGACCACGGCTCGCCAGGGCTGCGGAGGACCGACCGTC...
1,2,XX_0,Homo Sapien,phosphoglucose isomerase (PGI),2,N
2,3,M64784.1,Homo Sapien,"phosphofructokinase (PFK) mRNA, complete cds",3,GAATTCCGAAGTACTTGGAAGAGATCGCCACACAGATGCGCACCAG...
3,4,XX_0,Homo Sapien,aldolase,4,N
4,5,AF053631.1,Homo Sapien,"citrate synthase mRNA, complete cds",5,CCGGGCTGGGCGCCGCCGCCGGTTCGTCTACTCTTTCCTTCAGCCG...
5,6,BC014092.2,Homo Sapien,"aconitase 2, mitochondrial, mRNA (cDNA clone M...",6,CTCATCTTTGTCAGTGCACAAAATGGCGCCCTACAGCCTACTGGTG...
6,7,KU639670.1,Homo Sapien,voucher NGX277 isocitrate dehydrogenase (IDH2)...,7,TCCCAATGGAACTATCCGGAACATCCTGGGGGGGACTGTCTTCCGG...
7,8,XX_0,Homo Sapien,Fumarase,8,N
8,9,MT640143.1,Homo Sapien,"isolate ml2608 Yunnan G6PD (G6PD) gene, partia...",9,ATGGCAGAGCAGGTGGCCCTGAGCCGGACCCAGGTGTGCGGGATCC...
9,10,NM_002631.4,Homo Sapien,"phosphogluconate dehydrogenase (PGD), transcri...",10,CCCTCACTCGTCCTCCGCGCGTCGCCGCTCTTCGGTTCTGCTCTGT...
10,11,XX_0,Homo Sapien,Gluconolactonase,11,N
11,12,NM_006755.2,Homo Sapien,"transaldolase 1 (TALDO1), mRNA",12,AGACCCCTCGGTCTTGCTATGTCGAGCTCACCCGTGAAGCGTCAGA...
12,13,NM_080109.4,Drosophila,"melanogaster hexokinase A, transcript variant...",1,TTAATTTCGTAAAAAACGTTCCGAGCGTTTGGACGCGTGCAGCGGA...
13,14,MG684428.1,Drosophila,sulfurigaster phosphoglucose isomerase (Pgi) ...,2,AGGATGATGCAGTGGCCAAGCACTTTGTGGCTCTATCCACTAACAA...
14,15,NM_078952.3,Drosophila,"melanogaster phosphofructokinase, transcript ...",3,CTAAAATGTCAAAAATCATAAAAAAAAAATGAGTTCAGAAAATGAA...
15,16,NM_001300612.1,Drosophila,"melanogaster aldolase 1, transcript variant M...",4,AGTCGGTTGCCCAACACCGTCGGCGACGACCTCCAAACAACCTTTT...
16,17,XX_0,Drosophila,Citrate synthase,5,N
17,18,NM_001299190.1,Drosophila,"melanogaster mitochondrial aconitase 1, trans...",6,AATTTTGGCGGGAAACAAGCCGGCGGAACATTGCTGACGCGTATGC...
18,19,NM_001144438.2,Drosophila,"melanogaster isocitrate dehydrogenase, transc...",7,ACGCCGATTGCGCAACAATTTGACGATTGTACGCCACCCAAGAGAG...
19,20,NM_167081.3,Drosophila,"melanogaster fumarase 1, transcript variant B...",8,CTCAGTTAACATCGAGCAGCAGCCGTCGTCGAGTGGTCGTCCTCTG...
20,21,AY364534.1,Drosophila,mojavensis strain MJS 71 glucose-6-phosphate ...,9,GGCTGGAATCGCGTGATCGTCGAGAAGCCCTTCGGGCGAGATGATG...
21,22,XX_0,Drosophila,6PGD,10,N
22,23,XX_0,Drosophila,Gluconolactonase,11,N
23,24,NM_079111.3,Drosophila,"melanogaster transaldolase (Taldo), mRNA",12,TATTGCATTGAAGTTGGGCAATGGGAAGTGATCGCACGTTAAAAAA...
24,25,XX_0,E. coli,Hexokinase,1,N
25,26,AJ629834.1,E. coli,"partial pgi gene for phosphoglucose isomerase,...",2,GGTATTGATACTGCCAACATGTTCGAGTTCTGGGACTGGGTCGGCG...
26,27,XX_0,E. coli,phosphofructokinase (PFK),3,N
27,28,XX_0,E. coli,aldolase,4,N
28,29,EU904044.1,E. coli,strain TW14359 citrate synthase (ECs0745) gene...,5,ATGGCTGATACAAAAGCAAAACTCACCCTCAACGGGGACACAGCTG...
29,30,XX_0,E. coli,aconitase,6,N
30,31,AJ629672.1,E. coli,"partial icd gene for isocitrate dehydrogenase,...",7,GTTCCTGAAAATCCGATTATCCCTTACATTGAAGGTGATGGAATCG...
31,32,XX_0,E. coli,fumarase,8,N
32,33,EU899544.1,E. coli,strain TW14359 glucose-6-phosphate dehydrogena...,9,ATGGCGGTAACGCAAACAGCCCAGGTCTGTGACTTGGTCATTTTCG...
33,34,M23181.1,E. coli,"6-phosphogluconate dehydrogenase gene, complet...",10,AGATCTCACTAAAAACTGGGGATAACGCCTTAAATGGCGAAGAAAC...
34,35,XX_0,E. coli,Gluconolactonase,11,N
35,36,D13161.1,E. coli,"talB gene for transaldolase, complete cds",12,ATGACGGACAAATTGACCTCCCTTCGTCAGTACACCACCGTAGTGG...

Now that we have the database in order we can use SQL JOIN functionality to create tables that can be queried for our intended querying purposes.

## Last Step: Join Tables for Desired Query Capability